*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: #f1d2c0;
    color: #2c2c2c;
}
.header{
    background: #f6e4d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5%;
}

.header .logo{
    font-weight: 600;
    font-size: 1.2rem;
    color: #5c3b24;
}

.navbar a {
    text-decoration: none;
    color: #2c2c2c;
    margin: 0 12px;
    font-weight: 500;
}

.hero {
    background: url('https://media.istockphoto.com/id/1220728836/photo/tropical-island-palm-tree-beach-from-above.jpg?s=612x612&w=0&k=20&c=1cYuKjGdtJwPRYT-iHk4S49C2-fq-U05JPzD66wR9BE=') center/cover no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;

}

.hero-text h2{
    font-weight: 400;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.btn{
    padding: 10px 25px;
    background: #5c3b24;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

/* About */
.about {
  padding: 60px 20px;
  background: #f1d2c0;
  text-align: center;
}

.about h2 {
  margin-bottom: 20px;
}

/* Sections */
.section {
  text-align: center;
  padding: 60px 5%;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.section-subtitle {
  font-size: 0.95rem;
  color: #5c3b24;
  margin-bottom: 30px;
}

/* Cards */
.card-container, .shake-container, .blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* Coffee cards */
.card {
  width: 260px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin-bottom: 10px;
}

.card-content button {
  padding: 8px 20px;
  border: none;
  background: #5c3b24;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
/* Contact */
.contact {
  background:#f1d2c0;
  text-align: center;
  padding: 60px 20px;
}

.contact form {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact input,
.contact select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  background: #5c3b24;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background: #5c3b24;
}

.blog-card {
  background: #fff;
  width: 270px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  padding-bottom: 15px;
}

.blog-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.blog-card h3 {
  margin: 10px;
  font-size: 1rem;
}

.blog-card p {
  margin: 0 10px 10px;
  font-size: 0.9rem;
  color: #555;
}

.blog-card a {
  color: #5c3b24;
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
}

footer {
  background: #444;
  color: white;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}
.cards{
   width: 260px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.cards img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
